.main-header {
  background-color: rgb(16, 85, 212);
  color: white;
  position: sticky;
  top: 0px;
  z-index: 3;
}

h2 {
  padding-top: 100px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  color: deepskyblue;
  background-color: rgb(67, 46, 182);
  display: flex;
  flex-direction: row-reverse;
  justify-content: stretch;
  text-align: space-around;
}

.topnav {
  width: 700px;
  border: 15px solid rgb(49, 0, 128);
  padding: 50px;
  margin: 20px;
  display: inline-block;
  justify-content: space-between;
  text-align: center;
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
  text-align: end;
  position: absolute;
  top: 100%;
}

nav > .fa-bars {
  display: none;
}

#Blog {
  margin-right: 3rem;
}

#Blog img {
  float: left;
  width: 25%;
  height: auto;
  margin-right: 1rem;
}

#Contact {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  background-color: white;
}

h1 {
  color: deepskyblue;
  background: rgb(133, 125, 175);
  display: flex;
  /* size: */
  justify-content: space-between;
}

/* element.style {
} */
body {
  display: block;
  margin: 8px;
  background-color: rgb(35, 30, 107);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  height: auto;
  width: 92.5%;
}

ol {
  color: deepskyblue;
  width: 700px;
  font-style: italic;
  font-size: x-large;
  background-color: rgb(24, 7, 92);
  justify-content: stretch;
  align-items: flex-end;
}

div {
  padding: 10px;
  width: 700px;
  /* font-stretch: narrow; */
  font-size: xx-large;
  color: deepskyblue;
  background: rgb(11, 4, 37);
  justify-content: space-between;
  align-items: center;
}

#jumbotron {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
  text-align: center;
  position: -webkit-sticky;
  top: 125%;
}

div :hover {
  color: brown;
  background-position: center;
}

ol :hover {
  color: brown;
}

#weather {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  top: 100%;
}
