

h2 {
  padding-top: 100px;
  padding-right: 10px;

  color:ivory;
  background-color: rgb(162, 160, 170);

}

.topnav {
  width: 900px;
  border: 15px solid rgb(82, 140, 226);
  padding: 50px;
  margin: 20px;
  display: inline-block;
  justify-content: space-between;
  text-align:end
}

nav > ul > li {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
  text-align: end;
  position: absolute;
  background: rrgb(162, 160, 170));
  top: 100%;
  width: 100%;

}

p {
  color: deepskyblue;
  background: rrgb(162, 160, 170));
  display: flex;
  /* size: */
  justify-content: space-between;
}

#Blog {
  margin-right: 3rem;
}

#Blog img {
  float: left;
  width: 25%;
  height: auto;
  margin-right: 1rem;
}

#Contact {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  background-color: white;
}

h1 {
  color: deepskyblue;
  background: rrgb(162, 160, 170));
  display: flex;
  /* size: */
  justify-content: space-between;
}

h4 {
  color: deepskyblue;
  background: rrgb(162, 160, 170));
  display: flex;
  /* size: */
  justify-content: center;
  align-items: flex-end;;
}

html {
  background: https://x2b8u5q5.rocketcdn.me/wp-content/uploads/2018/10/meadow_creek_ts250_pulled_pork_chicken.jpg no-repeat center center fixed;
  -webkit-scrollbar-track::-webkit-slider-thumb
  -moz-

}

img:hover {
  opacity: 0.5;
}

h5 {
  color: deepskyblue;
  background: rgba(255, 0, 0, 0.5);
  background-color: transparent;
  display: flex;
  opacity: 0.2;
  justify-content: center;
  align-items: flex-end;;
  position:fixed;
  z-index:-1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  }


body {
  display: block;
  margin: 8px;
  background-color: rgb(209, 207, 235);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  width: 100%;
}

ol {
  color:rgb(209, 207, 235);
  width: 700px;
  font-style: italic;
  font-size: x-large;
  background-color: rgb(162, 160, 170));
  justify-content: center;
  align-items: flex-end;
}

div {
  padding: 10px;
  width: 700px;
  /* font-stretch: narrow; */
  font-size: xx-large;
  color: rgb(82, 105, 112);
  background: rgb(162, 160, 170));
  justify-content: space-between;
  align-items: center;
  display:initial




}


h7 {  {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
    text-align: end;
    position: -webkit-sticky;
    top: 600%;
}

div :hover {
  color: rgb(162, 160, 170));

}

ol :hover {
  color: rgb(162, 160, 170));
}

#weather {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 25px;
  text-align: center;
  position: absolute;
  top: 150%;
}
